.about {
    height: 100%;
    width: 98%;
    margin: 1em;
    font-size:16px;
    font-family: "Verdana",Geneva, sans-serif;
    color:black;
}
.gamecontainer {
    height: 100%;
    width: 98%;
    margin: 1em;
    font-size:16px;
    font-family: "Verdana",Geneva, sans-serif;
    color:black;
}

.dropdown-item:active{
    background-color: black;
}

.gameboard {
    font-size: 24px;
    font-family: "Verdana",Geneva, sans-serif;
}

.gamedeck {
    display: flex;
    justify-content: center;
}

.player-table {
    width: 200px;
    height: 200px;
    float: left;
    margin: 25px;
    display:inline-table;
    vertical-align: middle;
    text-align: center;
}
.player-name {
    display: block;
    font-size: 30px;
    justify-content: center;
    width: 213px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.player-row {
    font-size: 35px;
    height: 80px;
    line-height: 50px;
        font-size: 40px;
        vertical-align: middle;
        text-align: center;
}
.player-col {

    padding: 0px;
}
.player-col:hover {

    cursor: pointer;
}
.scoreboard {
    font-size: 24px;
    margin-top: 15px;
}
.scoreboard-head {
    /*text-decoration: underline;*/
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid black;
}
.scoreboard-player {
    padding: 0;
    margin: 0;
}

.head-table {
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    margin-top: 15px;
    max-width: 150px;
    max-height: 80px;
}

.container-fluid.player-table .player-row:first-child {
}

.deckAndPile:hover {
    cursor: pointer;
}

#navbarDropdownMenuLink, .navibuttons{
    cursor: pointer;
}

.leftSideHeader {
    display: flex;
    text-align: -webkit-center;
}

.leftSideContainer {
    width: 100%;
}
