@(controller:de.htwg.se.skyjo.controller.controllerBaseImpl.Controller)

@players = @{controller.players}

@main("HTWG Skyjo") {
<div class="gamecontainer">
    <div class="game">
        <h1>HTWG Skyjo</h1>
        @for(player <- 0 until players.length) {
        <div class="player">
            <table>
                <tr>
                    <th colspan="4">@players(player).name</th>
                </tr>
                <tr>
                    <td>@players(player).hand.cards(0)(0).getValue</td>
                    <td>@players(player).hand.cards(0)(1).getValue</td>
                    <td>@players(player).hand.cards(0)(2).getValue</td>
                    <td>@players(player).hand.cards(0)(3).getValue</td>
                </tr>
                <tr>
                    <td>@players(player).hand.cards(1)(0).getValue</td>
                    <td>@players(player).hand.cards(1)(1).getValue</td>
                    <td>@players(player).hand.cards(1)(2).getValue</td>
                    <td>@players(player).hand.cards(1)(3).getValue</td>
                </tr>
                <tr>
                    <td>@players(player).hand.cards(2)(0).getValue</td>
                    <td>@players(player).hand.cards(2)(1).getValue</td>
                    <td>@players(player).hand.cards(2)(2).getValue</td>
                    <td>@players(player).hand.cards(2)(3).getValue</td>
                </tr>
            </table>
        </div>
        }
        <div class="stats">
            <p class="statsheadline">Punkte:</p>
            @for(player <- 0 until players.length) {
            <p class="statsplayer">@players(player).name: 0</p>
            }
        </div>
    </div>
</div>
}