@()

@main("HTWG Skyjo") {
  <h1>About Skyjo!</h1>
<h2>Skyjo Rules</h2>
<p>Die 150 Karten zeigen Werte von -2 bis +12, die jeweils 10x vorkommen. Jeder Spieler erhält eine verdeckte Auslage
  von 4x3 Stück, von denen zwei beliebige gleich aufgedeckt werden dürfen.</p>
<p>Reihum entscheidet man sich, ob man die oberste Karte des Ablagestapels gegen eine eigene Karte tauscht, oder lieber
  eine vom Nachziehstapel nimmt. Diese kann man entweder ebenfalls tauschen, darf sie aber auch ablehnen und gleich
  wieder abwerfen. In diesem Fall muss dann eine eigene Karte aufgedeckt werden. Jedes Mal, wenn eine Spalte identische
  Werte zeigt (also z.B. drei 8en), wird sie komplett entfernt.</p>
<p>Sobald ein Spieler seine letzte Karte aufdeckt, sind alle anderen nur noch ein mal an der Reihe. Jeder erhält so
  viele Punkte angeschrieben, wie es der Summe aller seiner Karten entspricht. Wer beendet hat, bekommt diese Punkte
  allerdings verdoppelt, wenn er nicht die wenigsten erzielt hat. Es werden so viele Durchgänge gespielt, bis jemand 100
  Punkte erreicht. (Gewonnen hat natürlich derjenige mit den wenigsten.)</p>
<a href='/'> Neues Spiel starten</a>

<p>
  Hier ein Bild aus der Original anleitung: <br><br>
  <img height="1000" src=@routes.Assets.versioned("images/skyjo_rules_german.jpg") width="900">
</p>
}
